body{
		height: 100% !important;
		width: 100% !important;
		background: white;
	}
	a{
		fill:green;
		fill-opacity:1;
		fill-rule:evenodd;
		stroke:#ffffff;
		stroke-width:1.00000011999999994px;
		stroke-linecap:butt;
		stroke-linejoin:miter;
		stroke-opacity:1;
	}
	a:hover{
		fill:  #63e14c !important;

	}

	.button{
		position: absolute;
		right: 0;
		margin-right: 100px;
		margin-top: 100px;
		height: 100%;
		width: auto;
	}
	.button ul {
		display: inline-block;
	}
	.button ul li{
		list-style: none;
		display: inline-block;
	}
	.button ul .btn1 a{
		background: #00cc00;
		color: white;
	}
	.button ul .btn2 a{
		background: #ffff00;
		color: black;
	}
	.button ul .btn3 a{
		background: #ff9900;
		color: black;
	}
	.button ul .btn4 a{
		background: #ff3300;
		color: black;
	}
	.button ul .btn5 a{
		background: #cc00cc;
		color: black;
	}
	.button ul .btn6 a{
		background: #800000;
		color: white;
	}